<% include ./partials/loginheader %>



<div class="row completeStudentRegistration-content">
  <p>Complete </p>
  <!-- First column -->
  <div class="col-4">

    <!-- Navigation -->
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Profile</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Information</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Preferences</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Finish</a>
    </div>
    <!-- Navigation -->

  </div>
  <!-- First column -->

  <!-- Second column -->
  <div class="col-8">

    <!-- Content -->
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list"><div class="blog">
      <p id="date">February 16 2018</p>
      <h2>This is an article</h2>

      <p id="visible_border">Bacon ipsum dolor amet buffalo prosciutto ground round picanha drumstick fatback meatloaf kielbasa venison. Rump meatloaf meatball pancetta buffalo tail. Tenderloin chuck ham hock pork belly strip steak pork chicken. Drumstick cow porchetta, ball tip landjaeger boudin salami. Ribeye kevin boudin short loin, ground round buffalo sausage turducken pork shoulder bacon swine beef fatback. Spare ribs venison shoulder, frankfurter bresaola boudin burgdoggen alcatra ribeye ham hock tri-tip tail meatball.</p>

      <p>Frankfurter tri-tip landjaeger corned beef sirloin. Ham hock tenderloin bacon pancetta porchetta swine pastrami ham chuck buffalo, turducken pork loin pork belly frankfurter. Andouille ribeye sirloin beef sausage buffalo. Landjaeger pancetta jowl pastrami. Drumstick tongue landjaeger, strip steak salami andouille jowl boudin ham alcatra.</p>

      <p>Ball tip sausage turducken, cupim picanha prosciutto ground round kielbasa brisket pork loin andouille. Tongue tenderloin t-bone, jowl pork kielbasa beef ribs chicken andouille buffalo boudin. Pork loin capicola strip steak, chicken jerky ball tip pork chop filet mignon spare ribs pork. Beef capicola swine sirloin ham hock beef ribs turducken rump flank bacon tail t-bone meatball. Shank spare ribs tenderloin, turducken andouille meatball pork loin bacon pork belly brisket pancetta pork chop filet mignon. Flank jerky burgdoggen leberkas chuck. Corned beef alcatra prosciutto pastrami pork belly meatball beef ribs pancetta porchetta. </p>

      <hr>
      <p id="date">January 01 2028</p>
      <h2>This is an other Article</h2>

      <p id="visible_border">Bacon ipsum dolor amet buffalo prosciutto ground round picanha drumstick fatback meatloaf kielbasa venison. Rump meatloaf meatball pancetta buffalo tail. Tenderloin chuck ham hock pork belly strip steak pork chicken. Drumstick cow porchetta, ball tip landjaeger boudin salami. Ribeye kevin boudin short loin, ground round buffalo sausage turducken pork shoulder bacon swine beef fatback. Spare ribs venison shoulder, frankfurter bresaola boudin burgdoggen alcatra ribeye ham hock tri-tip tail meatball.</p>

      <p>Frankfurter tri-tip landjaeger corned beef sirloin. Ham hock tenderloin bacon pancetta porchetta swine pastrami ham chuck buffalo, turducken pork loin pork belly frankfurter. Andouille ribeye sirloin beef sausage buffalo. Landjaeger pancetta jowl pastrami. Drumstick tongue landjaeger, strip steak salami andouille jowl boudin ham alcatra.</p>

      <p>Ball tip sausage turducken, cupim picanha prosciutto ground round kielbasa brisket pork loin andouille. Tongue tenderloin t-bone, jowl pork kielbasa beef ribs chicken andouille buffalo boudin. Pork loin capicola strip steak, chicken jerky ball tip pork chop filet mignon spare ribs pork. Beef capicola swine sirloin ham hock beef ribs turducken rump flank bacon tail t-bone meatball. Shank spare ribs tenderloin, turducken andouille meatball pork loin bacon pork belly brisket pancetta pork chop filet mignon. Flank jerky burgdoggen leberkas chuck. Corned beef alcatra prosciutto pastrami pork belly meatball beef ribs pancetta porchetta.
      <hr>
      </div></div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list"><div class="blog">
      <p id="date">February 16 2018</p>
      <h2>This is an article</h2>

      <p id="visible_border">Bacon ipsum dolor amet buffalo prosciutto ground round picanha drumstick fatback meatloaf kielbasa venison. Rump meatloaf meatball pancetta buffalo tail. Tenderloin chuck ham hock pork belly strip steak pork chicken. Drumstick cow porchetta, ball tip landjaeger boudin salami. Ribeye kevin boudin short loin, ground round buffalo sausage turducken pork shoulder bacon swine beef fatback. Spare ribs venison shoulder, frankfurter bresaola boudin burgdoggen alcatra ribeye ham hock tri-tip tail meatball.</p>

      <p>Frankfurter tri-tip landjaeger corned beef sirloin. Ham hock tenderloin bacon pancetta porchetta swine pastrami ham chuck buffalo, turducken pork loin pork belly frankfurter. Andouille ribeye sirloin beef sausage buffalo. Landjaeger pancetta jowl pastrami. Drumstick tongue landjaeger, strip steak salami andouille jowl boudin ham alcatra.</p>

      <p>Ball tip sausage turducken, cupim picanha prosciutto ground round kielbasa brisket pork loin andouille. Tongue tenderloin t-bone, jowl pork kielbasa beef ribs chicken andouille buffalo boudin. Pork loin capicola strip steak, chicken jerky ball tip pork chop filet mignon spare ribs pork. Beef capicola swine sirloin ham hock beef ribs turducken rump flank bacon tail t-bone meatball. Shank spare ribs tenderloin, turducken andouille meatball pork loin bacon pork belly brisket pancetta pork chop filet mignon. Flank jerky burgdoggen leberkas chuck. Corned beef alcatra prosciutto pastrami pork belly meatball beef ribs pancetta porchetta. </p>

      <hr>
      <p id="date">January 01 2028</p>
      <h2>This is an other Article</h2>

      <p id="visible_border">Bacon ipsum dolor amet buffalo prosciutto ground round picanha drumstick fatback meatloaf kielbasa venison. Rump meatloaf meatball pancetta buffalo tail. Tenderloin chuck ham hock pork belly strip steak pork chicken. Drumstick cow porchetta, ball tip landjaeger boudin salami. Ribeye kevin boudin short loin, ground round buffalo sausage turducken pork shoulder bacon swine beef fatback. Spare ribs venison shoulder, frankfurter bresaola boudin burgdoggen alcatra ribeye ham hock tri-tip tail meatball.</p>

      <p>Frankfurter tri-tip landjaeger corned beef sirloin. Ham hock tenderloin bacon pancetta porchetta swine pastrami ham chuck buffalo, turducken pork loin pork belly frankfurter. Andouille ribeye sirloin beef sausage buffalo. Landjaeger pancetta jowl pastrami. Drumstick tongue landjaeger, strip steak salami andouille jowl boudin ham alcatra.</p>

      <p>Ball tip sausage turducken, cupim picanha prosciutto ground round kielbasa brisket pork loin andouille. Tongue tenderloin t-bone, jowl pork kielbasa beef ribs chicken andouille buffalo boudin. Pork loin capicola strip steak, chicken jerky ball tip pork chop filet mignon spare ribs pork. Beef capicola swine sirloin ham hock beef ribs turducken rump flank bacon tail t-bone meatball. Shank spare ribs tenderloin, turducken andouille meatball pork loin bacon pork belly brisket pancetta pork chop filet mignon. Flank jerky burgdoggen leberkas chuck. Corned beef alcatra prosciutto pastrami pork belly meatball beef ribs pancetta porchetta.
      <hr>
      </div></div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list"><div class="blog">
      <p id="date">February 16 2018</p>
      <h2>This is an article</h2>

      <p id="visible_border">Bacon ipsum dolor amet buffalo prosciutto ground round picanha drumstick fatback meatloaf kielbasa venison. Rump meatloaf meatball pancetta buffalo tail. Tenderloin chuck ham hock pork belly strip steak pork chicken. Drumstick cow porchetta, ball tip landjaeger boudin salami. Ribeye kevin boudin short loin, ground round buffalo sausage turducken pork shoulder bacon swine beef fatback. Spare ribs venison shoulder, frankfurter bresaola boudin burgdoggen alcatra ribeye ham hock tri-tip tail meatball.</p>

      <p>Frankfurter tri-tip landjaeger corned beef sirloin. Ham hock tenderloin bacon pancetta porchetta swine pastrami ham chuck buffalo, turducken pork loin pork belly frankfurter. Andouille ribeye sirloin beef sausage buffalo. Landjaeger pancetta jowl pastrami. Drumstick tongue landjaeger, strip steak salami andouille jowl boudin ham alcatra.</p>

      <p>Ball tip sausage turducken, cupim picanha prosciutto ground round kielbasa brisket pork loin andouille. Tongue tenderloin t-bone, jowl pork kielbasa beef ribs chicken andouille buffalo boudin. Pork loin capicola strip steak, chicken jerky ball tip pork chop filet mignon spare ribs pork. Beef capicola swine sirloin ham hock beef ribs turducken rump flank bacon tail t-bone meatball. Shank spare ribs tenderloin, turducken andouille meatball pork loin bacon pork belly brisket pancetta pork chop filet mignon. Flank jerky burgdoggen leberkas chuck. Corned beef alcatra prosciutto pastrami pork belly meatball beef ribs pancetta porchetta. </p>

      <hr>
      <p id="date">January 01 2028</p>
      <h2>This is an other Article</h2>

      <p id="visible_border">Bacon ipsum dolor amet buffalo prosciutto ground round picanha drumstick fatback meatloaf kielbasa venison. Rump meatloaf meatball pancetta buffalo tail. Tenderloin chuck ham hock pork belly strip steak pork chicken. Drumstick cow porchetta, ball tip landjaeger boudin salami. Ribeye kevin boudin short loin, ground round buffalo sausage turducken pork shoulder bacon swine beef fatback. Spare ribs venison shoulder, frankfurter bresaola boudin burgdoggen alcatra ribeye ham hock tri-tip tail meatball.</p>

      <p>Frankfurter tri-tip landjaeger corned beef sirloin. Ham hock tenderloin bacon pancetta porchetta swine pastrami ham chuck buffalo, turducken pork loin pork belly frankfurter. Andouille ribeye sirloin beef sausage buffalo. Landjaeger pancetta jowl pastrami. Drumstick tongue landjaeger, strip steak salami andouille jowl boudin ham alcatra.</p>

      <p>Ball tip sausage turducken, cupim picanha prosciutto ground round kielbasa brisket pork loin andouille. Tongue tenderloin t-bone, jowl pork kielbasa beef ribs chicken andouille buffalo boudin. Pork loin capicola strip steak, chicken jerky ball tip pork chop filet mignon spare ribs pork. Beef capicola swine sirloin ham hock beef ribs turducken rump flank bacon tail t-bone meatball. Shank spare ribs tenderloin, turducken andouille meatball pork loin bacon pork belly brisket pancetta pork chop filet mignon. Flank jerky burgdoggen leberkas chuck. Corned beef alcatra prosciutto pastrami pork belly meatball beef ribs pancetta porchetta.
      <hr>
      </div></div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list"><div class="blog">
      <p id="date">February 16 2018</p>
      <h2>This is an article</h2>

      <p id="visible_border">Bacon ipsum dolor amet buffalo prosciutto ground round picanha drumstick fatback meatloaf kielbasa venison. Rump meatloaf meatball pancetta buffalo tail. Tenderloin chuck ham hock pork belly strip steak pork chicken. Drumstick cow porchetta, ball tip landjaeger boudin salami. Ribeye kevin boudin short loin, ground round buffalo sausage turducken pork shoulder bacon swine beef fatback. Spare ribs venison shoulder, frankfurter bresaola boudin burgdoggen alcatra ribeye ham hock tri-tip tail meatball.</p>

      <p>Frankfurter tri-tip landjaeger corned beef sirloin. Ham hock tenderloin bacon pancetta porchetta swine pastrami ham chuck buffalo, turducken pork loin pork belly frankfurter. Andouille ribeye sirloin beef sausage buffalo. Landjaeger pancetta jowl pastrami. Drumstick tongue landjaeger, strip steak salami andouille jowl boudin ham alcatra.</p>

      <p>Ball tip sausage turducken, cupim picanha prosciutto ground round kielbasa brisket pork loin andouille. Tongue tenderloin t-bone, jowl pork kielbasa beef ribs chicken andouille buffalo boudin. Pork loin capicola strip steak, chicken jerky ball tip pork chop filet mignon spare ribs pork. Beef capicola swine sirloin ham hock beef ribs turducken rump flank bacon tail t-bone meatball. Shank spare ribs tenderloin, turducken andouille meatball pork loin bacon pork belly brisket pancetta pork chop filet mignon. Flank jerky burgdoggen leberkas chuck. Corned beef alcatra prosciutto pastrami pork belly meatball beef ribs pancetta porchetta. </p>

      <hr>
      <p id="date">January 01 2028</p>
      <h2>This is an other Article</h2>

      <p id="visible_border">Bacon ipsum dolor amet buffalo prosciutto ground round picanha drumstick fatback meatloaf kielbasa venison. Rump meatloaf meatball pancetta buffalo tail. Tenderloin chuck ham hock pork belly strip steak pork chicken. Drumstick cow porchetta, ball tip landjaeger boudin salami. Ribeye kevin boudin short loin, ground round buffalo sausage turducken pork shoulder bacon swine beef fatback. Spare ribs venison shoulder, frankfurter bresaola boudin burgdoggen alcatra ribeye ham hock tri-tip tail meatball.</p>

      <p>Frankfurter tri-tip landjaeger corned beef sirloin. Ham hock tenderloin bacon pancetta porchetta swine pastrami ham chuck buffalo, turducken pork loin pork belly frankfurter. Andouille ribeye sirloin beef sausage buffalo. Landjaeger pancetta jowl pastrami. Drumstick tongue landjaeger, strip steak salami andouille jowl boudin ham alcatra.</p>

      <p>Ball tip sausage turducken, cupim picanha prosciutto ground round kielbasa brisket pork loin andouille. Tongue tenderloin t-bone, jowl pork kielbasa beef ribs chicken andouille buffalo boudin. Pork loin capicola strip steak, chicken jerky ball tip pork chop filet mignon spare ribs pork. Beef capicola swine sirloin ham hock beef ribs turducken rump flank bacon tail t-bone meatball. Shank spare ribs tenderloin, turducken andouille meatball pork loin bacon pork belly brisket pancetta pork chop filet mignon. Flank jerky burgdoggen leberkas chuck. Corned beef alcatra prosciutto pastrami pork belly meatball beef ribs pancetta porchetta.
      <hr>
      </div></div>
    </div>
    <!-- Content -->

  </div>

</div>
<% include ./partials/loginfooter %>
