<% include ./partials/header %>

<div class="main-start">
<!--Section: Features v.2-->
<div class="row index">
  <% Category.forEach(function(Category){ %>
<div class="card index">
  <div class="card-body">
      <h2 class="card-title" style="text-align:center"> <%=Category.name%> </h2>
      <p class="card-text" style="text-align:center"> <%= Category.content%> </p>
      <a href="/categories/<%=Category._id%>" class="btn btn-outline-amber waves-effect" style="margin-left:15%;">Discover More</a>
  </div>
</div>
<% }) %>
</div>
</div>
</div>

<% include ./partials/footer %>
