<% include ./partials/loginheader%>

<h1>You Logged in .. </h1>

<h3>Welcome to Secret</h3>
<a class="btn btn-white btn-sm my-0" href="/logout">logout</a>

<button><a href="/logout">Button Text</a></button>

<% include ./partials/loginfooter%>
